{% if groups['k8s_master'] | length == 1 %}
    {% set apiserver = groups['k8s_master'][0] %}
{% elif groups['k8s_master'] | length > 1 %}
    {% set apiserver = vip %}
{% endif %}

apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ k8s_work_dir }}/pki/ca.pem
    server: https://{{ apiserver }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet-bootstrap
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: 3530d968932b45028efceea31b4b5884