KUBELET_OPTS="--logtostderr=false \
--v=4 \
--log-dir={{ k8s_work_dir }}/logs \
--hostname-override={{ node_hostname }} \
--network-plugin=cni \
--kubeconfig={{ k8s_work_dir }}/conf/kubelet.kubeconfig \
--bootstrap-kubeconfig={{ k8s_work_dir }}/conf/bootstrap.kubeconfig \
--config={{ k8s_work_dir }}/conf/kubelet-config.yml \
--cert-dir={{ k8s_work_dir }}/pki \
--pod-infra-container-image=registry.cn-hangzhou.aliyuncs.com/google-containers/pause-amd64:3.0"