{
    "CN": "kubernetes",
    "hosts": [
      "kubernetes",
      {% for ip in cert_hosts.k8s %}
        "{{ ip }}",
      {% endfor %}
      "kubernetes.default",
      "kubernetes.default.svc",
      "kubernetes.default.svc.cluster",
      "kubernetes.default.svc.cluster.local"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "Guangdong",
            "ST": "Guangzhou",
            "O": "k8s",
            "OU": "System"
        }
    ]
}
